.banner {
  background-image: url("../../../../assets/images/bannerone.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  width: 100%;
  height: 600px;
  padding: 200px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.popup-bg {
  position: fixed;
  right: 50px;
  top: 50px;
  width: 250px;
  height: 170px;
  background-color: rgba(255, 255, 255, 0.84);
  border-radius: 20px;
  border: 3px solid #3a834d;
  padding: 30px 20px;
  text-align: center;
}

.popup-bg a {
  text-decoration: none;
  line-height: 1;
  padding: 10px;
}

.popup-text {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
