.invalid-feedback {
  display: block;
}

input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
  border-color: red;
}

#card{
  height: 250px;
  background-color: rgba(255, 255, 255, 0.84);
  border-radius: 20px;
  border: 3px solid #3a834d;
  text-align: center;
}

#card-error{
  height: 250px;
  background-color: rgba(255, 255, 255, 0.84);
  border-radius: 20px;
  border: 3px solid #f30303;
  text-align: center;
}
