<section class="container py-5 text-center justify-content-center">
  <h2 class="text-center fs-1 fw-bold pb-4 mb-4" *ngIf="searchTerm === ''">Наши чайные коллекции</h2>

  <h2 class="text-center fs-1 fw-bold pb-4 mb-4" *ngIf="searchTerm && searchTerm !== ''">Результаты поиска по запросу "{{searchTerm}}"</h2>

  <div class="products">
    <product-card *ngFor="let product of products" [product]="product"></product-card>
  </div>

  <p *ngIf="products.length === 0 && searchTerm && searchTerm !== ''">Ничего не найдено.</p>

  <div *ngIf="loading" class="loader-bg">
    <div class="loader"></div>
  </div>

    <footer-component></footer-component>
</section>
