* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 15px;
}

.card {
  max-width: 500px;
  height: 100%;
}



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
